<div class="dashboard-page">
    <div class="col-lg-2 col-sm-3 sidebar">
        <div class="text-center eva-dash-logo">
            <img src="images/eva-logo.png"/>

            <img src={{user.avatar}} class="user-avatar">
            <h2>Welcome <small>{{user.firstname}}</small></h2>
        </div>
        <ul class="nav nav-sidebar">
            <li><a>Overview</a></li>
            <li><a>Challenges</a></li>
            <li><a>Admin tools</a></li>
        </ul>
    </div>
    <div class="col-lg-8 col-lg-offset-3">

    </div>
</div>