<div class="register-page">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 container-fluid">
            <div class="text-center">
                <img src="images/eva-logo.png" alt="eva logo"/>
                <h1>21 Day Challenge</h1>
            </div>
            <form class="form-group">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="E-mail" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Wachtwoord" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Herhaal wachtwoord" />
                </div>
                <div class="form-group row">
                    <div class="col-md-6 disable-padding-right">
                        <input type="text" class="form-control" placeholder="Achternaam" />
                    </div>

                    <div class="col-md-6 ">
                        <input type="text" class="form-control" placeholder="Voornaam" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 disable-padding-right">
                        <input type="text" class="form-control" placeholder="Straat" />
                    </div>

                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Nummer" />
                    </div>
                </div>


                <div class="form-group">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default col-md-6 form-control">
                                <input class="active" type="radio" name="gender" value="male" /> Man
                            </label>
                            <label class="btn btn-default col-md-6 form-control">
                                <input type="radio" name="gender" value="female" /> Vrouw
                            </label>
                        </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-default form-control" type="submit">Registreer</button>
                </div>
            </form>
        </div>
    </div>
</div>